.cms-table,
.cms-table thead,
.cms-table tbody {
    display: block;
}

.cms-table tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.25rem;
}

.cms-table th,
.cms-table td {
    flex: 1;
}